body{
    background-color:rgb(64, 82, 97);
}

.contentarea{
    position: fixed;
    top: 200px;
    right: 20%;
}

.cabecera{
    font-size: xx-large;
    color: white;
    font-weight: bold;
}
#labelDivisa{
    position: absolute;
    left: 400px;
    
}
#userInputForm{
    padding:16px 31px;
    box-shadow:inset 0px 1px 0px 0px #141414;
	background-color:#44c767;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    width: 65%;
}
.container button{
    background-color:transparent;
	border-radius:4px;
	border:1px solid #06cf25;
	cursor:pointer;
	color:#15d61b;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
    padding:10px 20px;
    margin: 10px;
	
}
button:hover{
    background-color: #06cf25;
    color: white;
}

.container button::before{
    content: "";
    position: absolute;
    top: 0;
    width: 15%;
    height:0%;
    background:#15d61b;
    z-index: -2;
    transition: 0.8s;
    border-radius: 0 0 50% 50%;

}

button:hover::before{
    height: 30%;
}

table {  color: #333; font-family: Helvetica, Arial, sans-serif; width: 640px; border-collapse: collapse;}

td, th { border: 1px solid transparent; height: 30px; }

th { background: #D3D3D3; font-weight: bold; }

td { background: #FAFAFA; text-align: center; }

td:nth-child(3) {  
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}
  

tr:hover td{ 
    background-color:cornflowerblue !important; 
    color: white !important;
    
}


.filtrar {
	background-color:#44c767;
	border:1px solid #18ab29;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.filtrar:hover {
	background-color:#5cbf2a;
}


